In [1]:
#Import Libraries
import numpy as np
import pandas as pd

In [2]:
#import movies dataset
movies_df=pd.read_csv("movies.csv")

In [3]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [4]:
#Import Ratings dataset
ratings_df=pd.read_csv("ratings.csv")

In [5]:
ratings_df

         userId  movieId  rating   timestamp
0             1      296     5.0  1147880044
1             1      306     3.5  1147868817
2             1      307     5.0  1147868828
3             1      665     5.0  1147878820
4             1      899     3.5  1147868510
...         ...      ...     ...         ...
1048570    7045     4447     3.5  1164258032
1048571    7045     4720     4.0  1164257756
1048572    7045     4857     4.0  1164242753
1048573    7045     4886     5.0  1168033506
1048574    7045     4896     4.0  1164122301

[1048575 rows x 4 columns]

In [6]:
#MERGING MOVIES and RATINGS
MOVIES_RATINGS=pd.merge(ratings_df,movies_df,on='movieId')

In [7]:
MOVIES_RATINGS

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,3,296,5.0,1439474476,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,4,296,4.0,1573938898,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
3,5,296,4.0,830786155,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
4,7,296,4.0,835444730,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
...,...,...,...,...,...,...
1048570,7036,150858,2.5,1471038060,Cougar Hunting (2011),Comedy|Romance
1048571,7036,166480,3.0,1481035733,Eliminators (2016),Action|Thriller
1048572,7036,188931,3.5,1565119103,Birdsong (2012),Drama|War
1048573,7036,203799,1.0,1562442903,Cold Blood (2019),Action|Thriller
1048574,7036,207023,2.5,1572125693,10 Minutes Gone (2019),Action|Crime|Mystery|Thriller

In [8]:
#Checking the nan values in movies dataframe
movies_df.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [9]:
#Checking the nan values in ratings dataframe
ratings_df.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [10]:
print("Movies:",movies_df.shape)
print("Ratings:",ratings_df.shape)

Movies: (62423, 3)
Ratings: (1048575, 4)

In [11]:
Movie_RatingCount=MOVIES_RATINGS.groupby(by=['title'])['rating'].count().reset_index().rename(columns={'rating':"Ratings_Count"})

In [12]:
Movie_RatingCount

                                  title  Ratings_Count
0      "Great Performances" Cats (1998)             12
1                   #realityhigh (2017)              1
2                    $ (Dollars) (1971)              1
3                       $5 a Day (2008)              3
4                          $9.99 (2008)              3
...                                 ...            ...
22221      Обезьянки и грабители (1985)              1
22222            Он вам не Димон (2017)              3
22223      Приключения Домовёнка (1986)              2
22224         Принцесса и Людоед (1977)              1
22225                    Я худею (2018)              3

[22226 rows x 2 columns]

In [13]:
RatingswithRatingsCount=MOVIES_RATINGS.merge(Movie_RatingCount,how='outer',on='title')
#Ratings_RatingsCount=MOVIES_RATINGS.merge(Movie_RatingCount,left_on='title',right_on='title',how='left')

In [14]:
RatingswithRatingsCount

,userId,movieId,rating,timestamp,title,genres,Ratings_Count
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3418
1,3,296,5.0,1439474476,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3418
2,4,296,4.0,1573938898,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3418
3,5,296,4.0,830786155,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3418
4,7,296,4.0,835444730,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3418
...,...,...,...,...,...,...,...
1048570,7036,150858,2.5,1471038060,Cougar Hunting (2011),Comedy|Romance,1
1048571,7036,166480,3.0,1481035733,Eliminators (2016),Action|Thriller,1
1048572,7036,188931,3.5,1565119103,Birdsong (2012),Drama|War,1
1048573,7036,203799,1.0,1562442903,Cold Blood (2019),Action|Thriller,1
1048574,7036,207023,2.5,1572125693,10 Minutes Gone (2019),Action|Crime|Mystery|Thriller,1

In [15]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(RatingswithRatingsCount['Ratings_Count'].describe())

count   1048575.000
mean        638.526
std         705.457
min           1.000
25%         129.000
50%         390.000
75%         914.000
max        3518.000
Name: Ratings_Count, dtype: float64

In [16]:
threshold=50
popular_rated_movies=RatingswithRatingsCount.query('Ratings_Count >= @threshold')

In [17]:
popular_rated_movies

,userId,movieId,rating,timestamp,title,genres,Ratings_Count
0,1,296,5.000,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3418
1,3,296,5.000,1439474476,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3418
2,4,296,4.000,1573938898,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3418
3,5,296,4.000,830786155,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3418
4,7,296,4.000,835444730,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,3418
...,...,...,...,...,...,...,...
1019151,6404,278,3.000,863808756,Miami Rhapsody (1995),Comedy,53
1019152,6555,278,5.000,829673715,Miami Rhapsody (1995),Comedy,53
1019153,6677,278,4.000,832545959,Miami Rhapsody (1995),Comedy,53
1019154,6747,278,2.000,997989793,Miami Rhapsody (1995),Comedy,53
1019155,6797,278,3.500,1069885344,Miami Rhapsody (1995),Comedy,53

In [18]:
popular_rated_movies.shape

(915637, 7)

In [19]:
#pivot matrix
movies_userratings=popular_rated_movies.pivot_table(index='title',columns='userId',values='rating').fillna(0)

In [20]:
movies_userratings

userId,1,2,3,4,5,6,7,8,9,10,...,7036,7037,7038,7039,7040,7041,7042,7043,7044,7045
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
(500) Days of Summer (2009),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
*batteries not included (1987),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10 Cloverfield Lane (2016),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zootopia (2016),0.000,0.000,0.000,4.500,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
[REC] (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
eXistenZ (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,4.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
xXx (2002),0.000,0.000,3.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,3.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
¡Three Amigos! (1986),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,3.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [21]:
#Converting the pivot table inot array matrix which will help to fit our model
from scipy.sparse import csr_matrix
movie_features_matrix  = csr_matrix(movies_userratings.values)

In [22]:
print(movie_features_matrix)

  (0, 30)	2.0
  (0, 71)	3.0
  (0, 222)	3.5
  (0, 250)	4.5
  (0, 284)	2.0
  (0, 303)	2.0
  (0, 320)	3.5
  (0, 363)	1.0
  (0, 471)	2.0
  (0, 560)	3.0
  (0, 591)	4.0
  (0, 625)	2.5
  (0, 693)	3.0
  (0, 694)	3.0
  (0, 804)	4.0
  (0, 846)	2.5
  (0, 938)	4.0
  (0, 998)	3.0
  (0, 999)	2.5
  (0, 1035)	3.0
  (0, 1052)	4.5
  (0, 1073)	4.0
  (0, 1156)	1.0
  (0, 1167)	3.5
  (0, 1261)	4.0
  :	:
  (3424, 6312)	2.0
  (3424, 6352)	2.5
  (3424, 6372)	3.0
  (3424, 6392)	3.0
  (3424, 6422)	0.5
  (3424, 6461)	3.0
  (3424, 6504)	3.5
  (3424, 6531)	3.0
  (3424, 6549)	3.5
  (3424, 6557)	1.5
  (3424, 6616)	3.0
  (3424, 6639)	1.0
  (3424, 6663)	4.0
  (3424, 6665)	3.0
  (3424, 6672)	4.0
  (3424, 6729)	4.0
  (3424, 6794)	3.0
  (3424, 6795)	4.0
  (3424, 6860)	4.5
  (3424, 6934)	3.0
  (3424, 6944)	4.5
  (3424, 6962)	3.0
  (3424, 7000)	2.0
  (3424, 7027)	5.0
  (3424, 7034)	3.5

In [23]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [24]:
#help(NearestNeighbors)

In [25]:
movies_userratings.shape

(3425, 7044)

In [26]:
movie_features_matrix.shape

(3425, 7044)

In [27]:
query_index = np.random.choice(movies_userratings.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(movies_userratings.iloc[query_index].values.reshape(1, -1),n_neighbors = 6)

617

In [28]:
print(distances,indices)
#print(type(distances))

[[0.         0.39735785 0.49972962 0.52490689 0.52613239 0.52701289]] [[ 617 1045 1170  693 2761  613]]

In [29]:
#movies_userratings.index[1102]

In [31]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movies_userratings.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movies_userratings.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Client, The (1994):

1: Firm, The (1993), with distance of 0.3973578546299169:
2: Ghost (1990), with distance of 0.49972961789515313:
3: Crimson Tide (1995), with distance of 0.5249068881490853:
4: Sleepless in Seattle (1993), with distance of 0.5261323913180382:
5: Clear and Present Danger (1994), with distance of 0.5270128893877124: